.Repository.card {
    width: 500px;
    margin: 1em;
    height: 100%;
}

.Repository-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
    background-color: gray;
}

.Repository .tag {
    margin: auto 1em auto 0;
}

.card-footer .button {
    margin: .5em;
}

.hide {
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
}